= render "monitor"
%h2 Averages


%h2 Trending
.graph{:style => "width:980px;height:270px"}

%h2 Data Samples
%form
  Show
  %select
    %option DNS Time
    %option Connection Time
    %option Blocking Time 
    %option Sending Time 
    %option Server Waiting Time 
    %option Time to First Byte
    %option Time to Last Byte
    %option Download Size 
    %option Availability 
  for samples from
  %select 
    %option Boston
    %option Singapore 
    %option Tokyo 
    %option London 
  = render '/shared/date_picker' 
  %input{:type => 'submit', :value => 'Update'} 

%table{:border => 1}
  %thead
    %tr
      %th Time
      %th Location 
      %th Browser
      %th Bindwidth
      %th Yottaa Score 
      %th Status 
      %th Edit
  %tbody
    - @samples.each do |sample|
      %tr
        %td #{Time.at(sample.timestamp).utc.strftime("%Y-%m-%d %H:%M:%S")}
        %td #{sample.location}
        %td #{sample.browser}
        %td #{sample.bandwidth}
        %td #{sample.yottaa_score}
        %td #{sample.status}
        %td 
%script
  - @samplesdaily = @samples_daily.map {|sample| [sample.timestamp, sample.yottaa_score]}
  data = #{@samplesdaily.to_json}
= javascript_include_tag "trendings"
