Create a #{form.operation} monitor
= form_for form, :as => :monitor, :url => form.new_record? ? monitors_path(form) : monitor_path(form) do |f|
  %input{:type => 'hidden', :name => 'operation', :value => form.operation}
  = f.label :name, "Name:"
  = f.text_field :name
  %br

  = f.label :url, "URL:"
  = f.text_field :url
  %br

  = f.label :frequency, "Frequency:"
  = f.text_field :frequency
  %br

  - if form.operation == 'webpage'
    = f.radio_button :browser, 'firefox'
    = f.label :browser, "Firefox"
    = f.radio_button :browser, 'ie'
    = f.label :browser, "Internet Explorer"
    %br

  %label
    = check_box_tag "monitor[locations][]", "aws-us-east", form.locations.empty? || form.locations.include?('aws-us-east')
    USA East
  %label
    = check_box_tag "monitor[locations][]", "aws-us-west", form.locations.include?('aws-us-west')
    USA West
  %br

  = f.label :bandwidth, "Bandwidth:"
  = f.text_field :bandwidth
  %br
  %hr
  = f.label :availability_sla, "Service availability must be no less than "
  = f.text_field :availability_sla, :value => 0.9

  %br
  = f.text_field :performance_sla, :name => "monitor[performance_sla][percent]", :value => 0.85
  = f.label :performance_sla, " of "
  = select_tag "monitor[performance_sla][metric]", options_for_select(@monitor.metrics)
  = f.label :performance_sla, " must be less than "
  = f.text_field :performance_sla, :name => "monitor[performance_sla][seconds]", :value => 500
  milliseconds

  %br
  = f.submit
