#main_section.ui-layout-center
  %div.ui-layout-center
    - if @monitors
      %table{:border => 1}
        %thead
          %tr
            %th Name
            %th URL
            %th Frequency
            %th Browser
            %th Locations
            %th Show
            %th Edit
        %tbody
          - @monitors.each do |monitor|
            %tr
              %td #{monitor.name}
              %td #{monitor.url}
              %td #{monitor.frequency}
              %td #{monitor.browser rescue nil}
              %td #{monitor.locations.join(',')}
              %td 
                = link_to "Show", monitor_path(monitor)
              %td 
                = link_to "Edit", edit_monitor_path(monitor)
    - else
      There is no monitors now.

    = link_to "add monitor", new_monitor_path
  %div.ui-layout-east
%div.ui-layout-south

:javascript
  $(function(){
    $('body').layout({size: '30%'});
    $('#main_section').layout({size: '50%'});
  });