#main_section.ui-layout-center
  %div.ui-layout-center
    - if @monitors
      %table{:border => 1}
        %thead
          %tr
            %th Name
            %th URL
            %th Frequency
            %th Browser
            %th Locations
            %th Trending
            %th Edit
        %tbody
          - @monitors.each do |monitor|
            %tr
              %td #{monitor.name}
              %td #{monitor.url}
              %td #{monitor.frequency}
              %td #{monitor.browser rescue nil}
              %td #{monitor.locations.join(',')}
              %td 
                = link_to "Trending", trending_path(monitor)
              %td 
                = link_to "Edit", edit_monitor_path(monitor)
    - else
      There is no monitors now.

    %br
    %br
    
    %form{:method => "get", :action => new_monitor_path}
      %label
        %input{:type => 'radio', :name => 'operation', :value => 'webpage', :checked => true }
        Webpage
      %label
        %input{:type => 'radio', :name => 'operation', :value => 'http' }
        Http service
      %input{:type => 'submit', :value => "setup a monitor"}

  %div.ui-layout-east
%div.ui-layout-south

:javascript
  $(function(){
    $('body').layout({size: '30%'});
    $('#main_section').layout({size: '50%'});
  });